VITE_GRAPHQL_HTTP_URI=https://busy-bug-81.hasura.app/v1/graphql
VITE_GRAPHQL_WS_URI=wss://busy-bug-81.hasura.app/v1/graphql
VITE_HASURA_ADMIN_SECRET=R6vHSfKmPjph95gAgI0RP8YVvqu6xYecMiQizIrFZVk1lPAsSDkSGsP3ZkqAsi7w